.my-slider {
  width: 100rem;
  height: 40rem;
  background-color: black;
  margin: 10px;
  color: white;
}

.home-slider {
  position: relative;
  /* overflow: hidden; */
  padding: 26px;
}

.img-container {
  padding: 0px 10px;
  display: flex;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
  position: absolute;
  border: none;
  width: 7px;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn {
  right: 0;
}

.next-btn p,
.pre-btn p {
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.436);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 1rem;
  color: black;
  width: 50px;
  height: 6.2rem;
  cursor: pointer;
}
