.our-work {
  background-color: #ededed;
  margin-top: 2rem;
}

.container_3 {
  width: 100%;
  height: 30%;
  background-color: #ededed;
}

.container_3 h1 {
  color: #354c84;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.container_3 h4 {
  background-color: #ededed;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.icon-row_3 {
  background-color: #ededed;
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-row_3 {
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-row_3 .our-work-i,
.name-row_3 .our-work-i {
  flex: 1;
  text-align: center;
}

.work-detail-3 {
  width: 100%;
}

.work-detail-3 p {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-top: 3rem;
  display: flex;
  text-align: center;
}

.work-detail-3 a {
  color: #354c84;
  text-decoration: none;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.work-detail-3 a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 510px) {
  .container_3 h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  .container_3 h4 {
    font-size: 1rem;
  }

  .icon-row_3 {
    font-size: 2rem;
  }

  .name-row_3 {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .work-detail-3 p {
    font-size: 1rem;
  }

  .work-detail-3 a {
    font-size: 1rem;
  }
}
